<tui-island
    size="l"
    textAlign="center"
    class="form-wrapper"
>
  <form [formGroup]="loginForm">
    <tui-input
      formControlName="username"
      [tuiTextfieldLabelOutside]="true"
    >Логин</tui-input>
    <tui-input-password
      formControlName="password"
      [tuiTextfieldLabelOutside]="true"
    >Пароль</tui-input-password>
  </form>
  <div class="link-wrapper">
    <a icon="tuiIconUser" tuiLink class="link" [routerLink]="['/register']" [tabIndex]="-1">
      Регистрация
    </a>
  </div>
  <button tuiButton appearance="whiteblock" [disabled]="loginForm.invalid" (click)="login()">Войти</button>
</tui-island>
