:host {
  .header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    left: 0;
    top: 0;
    background: #526ed3;
    z-index: 1;
    padding: 0 32px 0 16px;

    .row {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }

  .profile {
    height: 32px;
    background: var(--tui-primary);
  }
}
