<header class="header">
  <div class="row">
    <img src="assets/logo.png" alt="assets/logo.png" width="64" height="64">
    <h1>Справочник КС</h1>
    <button
      tuiButton
      type="button"
      [icon]="arrowLeftIcon"
      size="m"
      (click)="navigateToHistoryBack()"
    >
      <ng-template #arrowLeftIcon>
        <tui-svg
          src="tuiIconArrowLeft"
        ></tui-svg>
      </ng-template>
      Назад
    </button>
  </div>
  <div class="row">
    <tui-hosted-dropdown
      tuiDropdownLimitWidth="fixed"
      [content]="dropdown"
      [(open)]="isOpenProfileDropdown"
    >
      <div tuiGroup>
        <button
          size="l"
          tuiButton
          type="button"
          [pseudoHover]="false"
        >
          <tui-avatar
            size="m"
            [text]="user?.username ?? ''"
            style="margin-right: 16px;"
          ></tui-avatar>
          <h2>{{ user?.username }}</h2>
        </button>
        <button
          size="l"
          title="Menu"
          tuiHostedDropdownHost
          tuiIconButton
          type="button"
          class="tui-group__auto-width-item"
          [iconRight]="chevronIcon"
        ></button>
        <ng-template #chevronIcon>
          <tui-svg
            src="tuiIconChevronDown"
            class="icon"
            [class.icon_rotated]="isOpenProfileDropdown"
          ></tui-svg>
        </ng-template>
      </div>
    </tui-hosted-dropdown>
    <ng-template
      #dropdown
    >
      <tui-data-list>
        <button
          tuiOption
          [routerLink]="['/cabinet']"
          (click)="navigateToCabinet()"
        >
          Кабинет
        </button>
      </tui-data-list>
    </ng-template>

    <button
      tuiIconButton
      type="button"
      tuiHintAppearance="onDark"
      tuiHint="Выйти"
      (click)="logout()"
    >
      <tui-svg src="tuiIconLogOutLarge"></tui-svg>
    </button>
  </div>
</header>
