@import '@taiga-ui/core/styles/taiga-ui-theme.less';
@import '@taiga-ui/core/styles/taiga-ui-fonts.less';
@import '@taiga-ui/styles/taiga-ui-global.less';

/* You can add global styles to this file, and also import other style files */
.button-wrapper {
  display: flex;
  justify-content: center;
  gap: 8px;

  button {
    width: 50%;
  }
}
