<tui-island
    size="l"
    textAlign="center"
    class="form-wrapper"
>
  <form [formGroup]="registerForm">
    <tui-input
      formControlName="username"
      [tuiTextfieldLabelOutside]="true"
    >Логин</tui-input>
    <tui-input-password
      formControlName="password"
      [tuiTextfieldLabelOutside]="true"
    >Пароль</tui-input-password>
  </form>
  <div class="link-wrapper">
    <a icon="tuiIconUser" tuiLink class="link" [routerLink]="['/login']" [tabIndex]="-1">
      Уже есть аккаунт
    </a>
  </div>
  <button tuiButton appearance="whiteblock" [disabled]="registerForm.invalid" (click)="register()">Зарегистрироваться</button>
</tui-island>
