:host {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

  .form-wrapper {
    margin-top: 12%;
    height: 250px;
    width: 400px;
    background: var(--tui-primary);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;

    form {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    .link-wrapper {
      display: flex;
      justify-content: flex-end;

      .link {
        color: white;
      }
    }
  }
}
