<!--TODO: fix this nightmare-->
<div style="display: flex; flex-direction: column; gap: 16px; padding: 20px">
  <h1>Личный кабинет</h1>
  <div>
    <h2>Логин: {{ user?.username }}</h2>
    <div style="display: flex; gap: 8px;">
      <h2>Роли:</h2>
      <h2 *ngFor="let role of user?.roles ?? []">
        {{ role }}
      </h2>
    </div>
  </div>
</div>
