:host {
  display: flex;
  flex-direction: column;
  padding: 32px 64px;

  .page-panel {
      position: sticky;
      height: 80px;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: space-between;
      top: 100px;
      left: 0;
  }

  .page-list {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    .row {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .instruments {
    display: flex;
    gap: 8px;
  }
}
