<a
  tuiIsland
  size="l"
  class="page-panel"
>
  <h1>Список игроков</h1>
  <div class="instruments">
    <button
      tuiIconButton
      type="button"
      appearance="outline"
      tuiHintAppearance="onDark"
      tuiHint="Создать"
      (click)="createPlayer()"
    >
      <tui-svg src="tuiIconPlusLarge"></tui-svg>
    </button>
  </div>
</a>
<tui-loader [showLoader]="(loading$ | async) ?? false" size="l" [overlay]="true">
  <div class="page-list">
    <a
      *ngFor="let player of players$ | async"
      tuiIsland
      [hoverable]="true"
      size="l"
      class="row"
    >
      <div class="tui-island__content">
        <div>
          <h3 class="tui-island__title">{{ player.nickname }}</h3>
          <p class="tui-island__paragraph">
            Команда: {{player.team!.name }}
          </p>
          <p class="tui-island__paragraph">
            Позиция: {{player.position}}
          </p>
        </div>
      </div>
      <div class="instruments">
        <button
          tuiIconButton
          type="button"
          appearance="outline"
          tuiHintAppearance="onDark"
          tuiHint="Редактировать"
          (click)="editPlayer(player)"
        >
          <tui-svg src="tuiIconEditLarge"></tui-svg>
        </button>
        <button
          tuiIconButton
          type="button"
          appearance="outline"
          tuiHintAppearance="onDark"
          tuiHint="Удалить"
          (click)="deletePlayer(player)"
        >
          <tui-svg src="tuiIconTrash2Large"></tui-svg>
        </button>
      </div>
    </a>
  </div>
</tui-loader>
