<form [formGroup]="form">
  <tui-input
    formControlName="nickname"
    [tuiTextfieldCleaner]="true"
    [tuiTextfieldLabelOutside]="true"
  >
    Введите никнейм
    <input
      tuiTextfield
      type="text"
    />
  </tui-input>

  <tui-select
    [tuiTextfieldLabelOutside]="true"
    [valueContent]="defaultStringify(teamsItems)"
    formControlName="id_team"
  >
    Выберите команду
    <ng-template tuiDataList>
      <tui-data-list>
        <button
          *ngFor="let team of teamsItems"
          tuiOption
          [value]="team.id"
        >
          {{ team.name }}
        </button>
      </tui-data-list>
    </ng-template>
  </tui-select>

  <tui-input
    formControlName="position"
    [tuiTextfieldCleaner]="true"
    [tuiTextfieldLabelOutside]="true"
  >
    Введите позицию
    <input
      tuiTextfield
      type="text"
    />
  </tui-input>
</form>

<div class="button-wrapper">
  <button tuiButton appearance="primary" (click)="save()" [disabled]="form.invalid">Сохранить</button>
  <button tuiButton appearance="outline" (click)="cancel()">Отмена</button>
</div>
