<p>{{ question }}</p>

<div class="button-wrapper">
  <button tuiButton appearance="secondary-destructive" (click)="delete()">Удалить</button>
  <button tuiButton appearance="outline" (click)="cancel()">Отмена</button>
</div>
